<html>

<head>

    <title>Weather</title>
    <link rel = "icon" href="/img/download.jpg">
    <link rel = "stylesheet" href = "/css/styles.css">
    


    <style>
        .switch {
            position: relative;
            display: inline-block;
            width: 60px;
            height: 34px;
        }
        
        .switch input {
            display: none;
        }
        
        .slider {
            position: absolute;
            cursor: pointer;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            background-color: #ccc;
            -webkit-transition: .4s;
            transition: .4s;
        }
        
        .slider:before {
            position: absolute;
            content: "";
            width: 26px;
            height: 26px;
            left: 4px;
            bottom: 4px;
            background-color: white;
            -webkit-transition: .4s;
            transition: .4s;
        }
        
        input:checked+.slider {
            background-color: yellowgreen;
        }
        
        input:checked+.slider:before {
            -webkit-transform: translatex(26px);
            -ms-transform: translatex(26px);
            transform: translatex(26px)
        }
        
        .slider.round {
            border-radius: 34px;
        }
        
        .slider.round:before {
            border-radius: 50%;
        }
    </style>
</head>

<body>
    <h1>{{title}}</h1>
    <p>{{name}}</p>
    <h2>Toggle Switch</h2>
    <label class="switch">
            <input type="checkbox">
            <span class="slider"></span>
     </label>

    <label class="switch">
            <input type="checkbox">
            <span class="slider round"></span>
     </label>
<div>
    <p>Use This site to get Weather</p>
  
     <form>
         <input placeholder="Location">
         <button>Search</button>


     </form>
</div>
<script src = "/js/app.js"></script>

</body>


</html>