h1 {
    color: rebeccapurple;
    background-color: black;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    margin: 0 auto;
    padding: 0 18px;
}

img {
    width: 250px;
    height: 250px;
}

input {
    border: 1px solid #cccccc;
    padding: 8px;
}

button {
    cursor: pointer;
    border: 1px solid #888888;
    background: #888888;
    color: white;
    padding: 8px;
}